<ion-view style="" title="Beach Resorts">
    <ion-content class="has-header" overflow-scroll="true" padding="true" lazy-scroll>
   	<ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="doRefresh()">
    </ion-refresher>    
      
        
	  <div class="list" ng-repeat="x in names|orderBy:'shopname'">
	
		  <div class="item" >
		    <h2>{{x.shopname}}</h2>   
		  </div>
	
		  <div class="item item-body" style="padding: 0px;">
		    <img class="full-image" src="data:image/jpeg;base64,{{x.image}}" > 
		    
		     <i class="icon ion-ios-timer-outline assertive" style="padding-left: 5px;"></i>
		      {{x.remarks}}</br>
		      <i class="icon ion-ios-navigate-outline assertive" style="padding-left: 5px;"></i>
		       {{x.location}}	
		  </div>
	
	</div>
<p></p>
    </ion-content>
</ion-view>